#main{
    background-color: rgb(255, 255, 255);
    height: 1700px;
    width: 100%;
}
/* #background{
    width :100% ;
    height : 600px;
} */
#banner{
    background-image: url(https://lirp.cdn-website.com/28cd0bb4/dms3rep/multi/opt/traditional+american+wedding-1920w.jpeg);
    height: 690px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#position{
    position: fixed;
    top: 0;
    width: 100%;
}
#logo{
    float: left;
    width: 470px;
    height: 390px;
}
#welcome{
    padding: 100px;
}
/* #content{

} */
 #image{
    float: right;

 }
 p{
   text-align: justify;
   margin: 100px;
 }
