*{
    padding: 0%;
    margin: 0%;
}
.navbar
{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 100;
    background-color: #FFEFEF;
}
.carousel{
    position: relative;
}.caro_content{
    z-index: 100;
    position: absolute;
    left: 10%;
    top: 40%;
    color: azure;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;

}
@keyframes moveup{
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}
.caro_but{
    background-color: orange;
    color: aliceblue;
    width: 80px;
    height: 40px;
    margin-top: 20px;
}.caro_but:hover{
    background-color: aliceblue;
    color: orange;
   
}.Head{
    z-index: 1000;
}.font{
    font-family: serif;
}.buttons{
    margin-left: 500px;
}